<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page-->
<section id="addSurvey">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2><%= title %></h2>
      </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-12">
          <form class = "form" method="POST">
            <div class = "form-group">
              <label for="titleTextField">Survey Title</label>
              <input type="text" class = "form-control" id="titleTextField" placeholder="Survey Title"
              name="title" required>
            </div>
            <br>
            <div class = "form-group">
              <label for="startdateTextField">Start Date</label>
              <input type="date" class = "form-control" id="startdateTextField" placeholder="Satrt Date"
              name="startdate" required>
            </div>
            <br>
            <div class = "form-group">
                <label for="enddateTextField">End Date</label>
                <input type="date" class = "form-control" id="enddateTextField" placeholder="End Date"
                name="enddate" required>
            </div>
            <br>
                    
            <div class = "form-group">
                <label for="descriptionTextField">Description</label>
                <input type="text" class = "form-control" id="descriptionTextField" placeholder="Description"
                name="description" required>
            </div>
            <br>
            <button class = "btn btn-primary" type="submit">
                <i class="fas fa-edit"></i>Submit 
            </button>

            <a href="/survey" class="btn btn-warning"><i class="fas fa-undo"></i>Cancel</a>

          </form>
      </div>
    </div>
    </div>
  </section>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>
